@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #0D0D0D;
  /* --foreground: #E0E0E0; */
  --foreground: #cdcdcd;
  --secondary: #3672ad;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Bentham", serif;
  font-size: 1.1rem;
}
